/* Цвета */
:root {
  --grey: #757575;
  --main-black: #212121;
  --background: #2f303a;
  --background-white: #ffffff;
  --footer-rgba: rgba(255, 255, 255, 0.6);
  --hover: #2196f3;
}

body {
  color: var(--main-black);
  font-family: 'Roboto', sans-serif;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Убрать точки у списков */
.list {
  list-style: none;
}

/* Убрать подчеркивания у ссылок */
.link {
  text-decoration: none;
}
/* h1-h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-black);
}
/* Логотип в шапке */
.logo-header {
  color: var(--main-black);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-blue {
  color: #2196f3;
}

/* Логотип футер */
.logo-footer {
  color: var(--background-white);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* стили для шапки */
.head-nav .link {
  color: var(--main-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.head-nav .link:hover,
.head-nav .link:focus {
  color: var(--hover);
}

.contacts .link {
  color: var(--grey);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover);
}

.head-nav .current {
  color: var(--hover);
}

/* стили для футера */
.footer-nav {
  background-color: var(--background);
}

.adress {
  color: var(--background-white);
}

.footer-contacts {
  color: var(--footer-rgba);
}

/* Стили для адреса и контактов футер */
.footer-nav .list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.adress:hover,
.adress:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover);
}
